#footer{
    width: 100%;
    height: 80px;
    background-color: #e0e0e0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.15);
}

#footer.fixed {
   position: fixed;
   bottom:0;
}

.footer_aux {
    width:1100px;
    margin:auto;
    position: relative;
}
.footer_logo{
    right: 30px;
    bottom: -50px;
    position: absolute;
}
.footer_logo a{
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #f91b4e;
}
.footer_logo img{
    width: 50px;
    height: 50px;
    vertical-align: middle;

}

.footer_logo strong{
    vertical-align: middle;
    color: rgb(94, 94, 94);
}
.footer_nav{
    position: absolute;
    bottom: -30px;

}
.footer_nav li{
    float: left;
    width: 150px;
    height: 20px;
}
.footer_nav a{
    width: 150px;
    height: 20px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #424242;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}
address{
    position: absolute;
    left: 50px;
    bottom: -60px;
    color: #bebebe;
}