@charset "UTF-8";
  /* ======================페이지 공통 css==================*/
        body {
            font-family: "AppleSDGothic", sans-serif;
            font-weight: 300;
            user-select: none;
        }
        input, button {
            font-family: "AppleSDGothic", sans-serif;
            font-weight: 300;
        }
        a:visited, a{
            color: black;
            text-decoration: none;
        }
        /* =============페이지 전체 감싸는 container======*/
        .product_detail_page_container {
            width: 1000px;
            margin: auto;
            /*background-color: #4c9384;*/
        }
        /* =====================페이지 상단 contents=====================*/
        .product_detail_page_head_contents {
            width: 1000px;
            height: 545px;
            /*background-color: #9e9e9e;*/
            margin: 150px 0 115px 0 ;
            overflow: hidden;
        }
        /* 상단 content 의 head content*/
        .product_detail_page_content_head {
            height: 55px;
            /*background-color: orange;*/
            overflow: hidden;
        }
        .item_category_box {
            float: left;
            padding: 10px 15px;
            width: 475px;
            height: 25px;
            overflow: hidden;
        }
        .category_box {
            float: left;
        }
        .subs_info_box {
            width: 130px;
            height: 30px;
            line-height: 30px;
            float: right;
            display: flex;
            vertical-align: middle;
        }
        .star_review_num {
            display: flex;
            height: 25px;
            line-height: 25px;
        }
        .star {
            width: 25px;
            height: 25px;
        }
        .subs_num, .star_review {
            width: 50px;
            height: 30px;
            line-height: 30px;
        }
        .star_review {
            margin-left: 5px;
        }
        .giver_information_box {
            width: 495px;
            /*background-color: blanchedalmond;*/
            float: left;
        }

        .giver_information {
            width: 180px;
            height: 50px;
            line-height: 50px;
            float: right;
        }
        .giver_profile_img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            vertical-align: middle;
            margin: 0 5px;
        }

        /* 상단 content 의 왼쪽 content */
        .product_detail_page_content_left {
            float: left;
            /*background-color: #c0392b;*/
            width: 505px;
            height: 490px;
        }
        .product_thumbnail_img{
            width: 490px;
            height: 490px;
            padding: 0 7px;
        }
        /* 상단 content 의 오른쪽 content */
        .product_detail_page_content_right {
            float: left;
            /*background-color: darkolivegreen;*/
            width: 495px;
            height:490px ;
        }
        .subs_title {
            width:495px;
            height:70px ;
            line-height: 70px;
            text-align: center;
            font-size: 35px;
            font-weight: 500;
            margin: 20px 0  10px 0;
        }
        .item_info_wrap .item_img_box img{
            vertical-align: middle;
        }

        .item_info_box dl{
            width: 500px;
            font-size: 22px;
            overflow: hidden;
        }

        .item_info_box .delivery_addr_option{
            height: 110px;
            /*background-color: #cca872;*/
            margin-bottom: 15px;
        }

        .addr_option_input {
            display: none;
        }
        .addr_option_input+label {
            margin: 0 5px 5px 0;
            display: inline-block;
            background-color: #f3f3f3;
            width: 120px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            float: left;
            border-radius: 4px;
            border: 1px solid #3C7166;
        }
        .addr_option_input:checked+label {
            background-color: #3C7166;
            color: white;
        }
        .deliver_date_box {
            overflow: hidden;
        }
        .delivery_date{
            width: 40px;
            height: 40px;
            float: left;
            color: #9e9e9e;
        }
        .delivery_date.selected {
            color: #333333;
            font-weight: 600;
        }
        .item_info_box .price_tag{
            margin-top: 10px;
        }
        .item_info_box .price_tag dd{
            font-size: 28px;
            color: #3C7166;
            font-weight: 700;
        }
        .item_info_box dl dt{
            font-weight: 700;
            width: 200px;
            height: 50px;
            margin-left: 20px;
            float: left;
        }
        .item_info_box dl dt dd{
            width: 200px;
            float: right;
        }
        .item_info_box .item_dropdown{
            width: 150px;
            height: 30px;
        }
        .sold_out {
            display: none;
        }
        /* 구독하기 버튼 */
        .subscribeBtn {
            width: 440px;
            height: 50px;
            background-color:#264a43;
            color: #fff;
            border-radius: 4px;
            font-size: 20px;
            font-weight: 500;
            margin-left: 20px;
            cursor: pointer;
        }
        /* ------------기버가 보는 상세페이지에서 나타내는 버튼 박스------------*/
        .giver_view_btn_box {
            display: none;
            margin-left: 15px;
        }
        .subscribe_pause, .subscribe_delete {
            width: 213px;
            height: 50px;
            background-color:#264a43;
            color: #fff;
            border-radius: 4px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            margin: 0 5px;
        }

        /* ============================================하단부======================================== */
        .product_detail_tab_wrap {
            overflow: hidden;
            margin: auto;
            width: 918px;
        }
        .product_detail_tab_box {
            float: left;
            width: 300px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color:#f4fffd;
            margin: 0 3px 20px 3px;
            font-size: 22px;
            cursor: pointer;
        }
        .product_detail_tab_box.on {
            background-color: #264a43;
            color: #fff;
        }

        .content {
            width: 918px;
            margin: auto;
            display: none;
        }
        .content.on {
            display: block;
        }
        .tab_product_detail {
            margin: 20px auto;
            text-align: center;

        }
        /* ==========상품 정보 이미지========================*/
        .tab_product_detail_img {
            width: 900px;
            height: 1040px;
        }
        /* =================구매 정보 이미지-==================*/
        .tab_purchase_detail_img {
            width: 900px;
            height: 1800px;
            margin-top: 20px;
        }

        /* ========================리뷰 css=================================================*/
        .review_list{
            color: black;
            width: 700px;
            margin: auto;
        }
        .review_user_nickname{
            display: inline-block;
            /*float: left;*/
            margin-left: 10px;
            line-height: 50px;
            height: 50px;
            width: 100px;
        }
        .review_profile_img{
            display: inline-block;
            float: left;
            border-radius: 50px;
        }
        .review_wrap{
            width: 650px;
            margin: auto;
            padding: 10px;
        }
        .review_regdate{
            float: right;
            line-height: 50px;
            font-size: 14px;
            color: #424242;
        }
        .review_detail{
            margin-top: 30px;
            line-height: 25px;
        }
        .review_item{
            margin-top: 30px;
            margin-bottom: 20px;
            background-color: #b9b9b9;
        }
        /* 리뷰_ 기버가 남기는 댓글 box*/
        .reply_detail_box {
            width: 650px;
            margin: 20px 0 30px 10px;
        }
        .reply_detail{
            display: inline-block;
            position: relative;
            width: 570px;
            background-color: #fff;
            box-shadow: 2px 2px 2px #424242;
        }
        /* 리뷰 _ 기버 프로필 이미지*/
        .reply_giver_profile_img{
            vertical-align: top;
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
        .reply_regdate{
            float: right;
        }
        .reply_detail .btn{
            position: absolute;
            top: 3px;
            border: none;
            width: 30px;
            height: 30px;
            background-color: transparent;
            cursor: pointer;
            outline: none;
        }
        .reply_regdate{
            position: absolute;
            margin: 0;
            font-size: 14px;
            right: 10px;
            bottom: 10px;
        }
        .reply {
            padding: 20px;
            margin-left: 10px;
            margin-bottom: 30px;
            display: inline-block;
            width: 440px;
            line-height: 22px;
            letter-spacing: 0.03em;
        }