body{
    position: relative;
    width: 100%;
    font-family: AppleSDGothic, sans-serif;
    font-weight: 300;
    color: #424242;
    user-select: none;
}

input{
    font-family: AppleSDGothic, sans-serif;
}

a:visited, a{
    color: black;
    text-decoration: none;
}

#pageHeader{
    height: 30px;
    padding-top: 130px;
}

#pageHeader .item_category_box{
    width: 900px;
    margin: auto;

}

#container{
    width: 1100px;
    margin: 50px auto 0 auto;
}
#container .subs_title{
    margin-bottom: 50px;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

/* ====================================== item content ===================================== */


.deliver_date_box {
    overflow: hidden;
}
.delivery_date{
    width: 40px;
    height: 40px;
    float: left;
    color: #9e9e9e;
}

.delivery_date.selected {
    color: #333333;
    font-weight: 600;
}

.item_content{
    width: 900px;
    margin: auto;
}

.item_info_wrap{
    overflow: hidden;
    height: 400px;
    background-color: #f4fffd;
}

.item_info_wrap .item_img_box{
    line-height: 350px;
    height: 400px;
    width: 400px;
    text-align: center;
    float: left;
}

.item_info_wrap .item_img_box img{
    vertical-align: middle;
}

.item_info_wrap .item_info_box{
    margin-top: 50px;
    width: 500px;
    float: right;
}


.item_info_box dl{
    width: 500px;
    font-size: 22px;
    overflow: hidden;
}

.item_info_box .delivery_addr_option{
    height: 110px;
    /*background-color: #cca872;*/
}

.addr_option_input {
    display: none; 
}

.addr_option_input+label {
    margin: 0 5px 5px 0;
    display: inline-block;
    background-color: #f3f3f3;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    float: left;
    border-radius: 4px;
    border: 1px solid #3C7166;
}

.addr_option_input:checked+label {
    background-color: #3C7166;
    color: white;
}

.item_info_box .price_tag{
    margin-top: 10px    ;
}

.item_info_box .price_tag dd{
    font-size: 28px;
    color: #3C7166;
    font-weight: 700;
}
.item_info_box dl dt{
    font-weight: 700;
    width: 200px;
    height: 50px;
    float: left;
}

.item_info_box dl dt dd{
    width: 200px;
    float: right;
}

.item_info_box .item_dropdown{
    width: 150px;
    height: 30px;
}

.msg_title{
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
}

.giver_msg_to_taker .msg_box{
    font-size: 18px;
    padding: 30px;
    width: 540px;
    border: 1px solid #424242;
}

.giver_msg_content{
    margin: auto;
    width: 900px;
}

#header .item_category_box{
    width: 900px;
    margin: auto;

}

.giver_msg_content .msg_box{
    margin: auto;
    width: 540px;
    padding: 30px ;
}
/* ================================== taker text content ===================================== */

.taker_msg_content{
    width: 900px;
    margin: 50px auto 0 auto;
}

.form_wrap{
    width: 600px;
    margin: auto;
}

.taker_textarea{
    font-family: AppleSDGothic, sans-serif;
    font-size: 18px;
    resize: none;
    width: 600px;
    height: 300px;
}


/* ================================== delivery content ===================================== */
.delivery_content{
    width: 900px;
    height: 500px;
    margin: auto;
}

.delivery_info_box h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.check_input {
    display: none;
}
.check_input+label {
    display: block;
    background-color: #f3f3f3;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    float: left;
}

.check_input:checked+label {
    background-color: #3C7166;
    color: white;
}

.delivery_option_wrap{
    margin-top: 15px;
    width: 500px;
    overflow: hidden;
}

.delivery_type_box{
    float: left;
    width: 300px;
    height: 40px;
}

.delivery_info_title{
    font-size: 22px;
    width: 200px;
    float: left;
    line-height: 40px;
}

.addr_form.new_addr{
    margin-top: 40px;
    display: none;
}

input.new_delivery{
    width: 200px;
    height: 30px;
}

input.new_delivery.addr{
    width: 300px;
}

.new_delivery.phone1_txt{
    width: 65px;
    height: 38px;
    align-content: center;
}

.new_delivery.phone2_txt, .new_delivery.phone3_txt{
    width: 50px;
    text-align: center;
}

.phone1, .phone2, .phone3{
    float: left ;
}

.phone2, .phone3{
    margin-left: 5px;
}

.delivery_option_wrap.delivery_addr .delivery_info_title{
    height: 150px;
}

.delivery_detail_box{
    width: 200px;
    float: left;
}

.delivery_option_wrap.delivery_addr{
    width: 800px;
}

.default_addr_edit_btn{
    display: inline-block;
    width: 60px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-family: AppleSDGothic, sans-serif;
    font-weight: 100;

}

.new_delivery.addr, .new_delivery.addr_detail{
    width: 300px;
    float: left;
}

.new_delivery.zip_code{
    width: 70px;
}

.delivery_addr .zip_code_btn{
    width: 70px;
}

.delivery_option_wrap.delivery_addr input.new_delivery{
    margin-bottom: 5px;
}

.delivery_addr_setting{
    float: right;
    width: 300px;
    height: 200px;
}

.default_addr {
    font-size: 18px;
    line-height: 40px;
}

/*버튼 공통 설정*/
.btn {
    cursor: pointer;
    font-weight: 300;
    font-family: AppleSDGothic, sans-serif;
    border: none;
    width: 130px;
    height: 30px;
}

.addr_list{
    margin-top: 5px;
    margin-left: 15px;
}

/* ================================== 배송지 탭 ===================================== */


.addr_form.new_addr.show{
    display: block;
}

.addr_form.default_addr{
    display: none;
}

.addr_form.default_addr.show{
    margin-top: 40px;
    display: block;
}

/* ================================== 배송지 팝업 ===================================== */

#delPopOverlay{
    display: none;
    background-color: rgba(0,0,0,.75);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index:20;
}

#popPage{
    background-color: #fff;
    position: absolute;
    width: 800px;
    height: 800px;
    left: 50%;
    top: 50%;
    margin: -400px 0 0 -400px;
}

#delPopOverlay.pop_show{
    display: block;
}

#popHeader{
    background-color: #0B4D40;
    height: 75px;
    display: flex;
}

#popHeader .placeholder{
    width: 3rem;
}

#popHeader .h1{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: white;
    flex: 2;
    line-height: 75px;
}

.fas.fa-times{
    width: 3rem;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

#popHeader button{
    background-color: transparent;
    border: none;
}

#popContainer{
    width: 100%;
    max-height: 450px;
}

#popContent{
    width: 800px;
    margin: 50px auto 0 auto;
}

.tbl_delivery_list{
    width: 800px;
}

.tbl_delivery_list td{
    text-align: center;
    padding: 15px;
}

.tbl_delivery_list tbody tr{
    height: 100px;
}

.tbl_delivery_list thead tr{
    font-weight: 500;
    height: 30px;
    border-bottom: 1px solid #d1d1d1;
}


.tbl_delivery_list .cell_delivery{
    width: 15%;
}

#popContent .tbl_delivery_list td.addr{
    text-align: left;
}

.cell_delivery .address_nick{
    font-size: 14px;
}

.cell_delivery .recipient{
    font-size: 15px;
    font-weight: 300;
}

.tbl_delivery_list .cell_tel{
    width: 20%;
}

.tbl_delivery_list .cell_btn {
    width: 15%;
}

.default_marker{
    font-size: 14px;
    color: white;
    padding: 1px;
    margin: 2px auto 0 auto;
    display: block;
    width: 40px;
    background-color: #c0392b;
}

.setting_btn{
    font-family: AppleSDGothic, sans-serif;
    font-weight: 100;
    font-size: 16px;
    width: 60px;
    height: 40px;
    margin: auto;
    display: inline-block;
    position: absolute;
    right: 30px;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #ddd;

}

#popContent .tbl_delivery_list td.cell_btn{
    position: relative;
}

.setting_btn:hover{
    background-color: #0B4D40;
    color: #f4fffd;
}

#popFooter{
    margin: 15px auto;
    height: 125px;
    text-align: center;
}

#popFooter .close_btn{
    display: inline-block;
    width: 60px;
    height: 40px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: AppleSDGothic, sans-serif;
    font-weight: 100;
}

#popFooter .close_btn:hover{
    background-color: #ddd;
}



/* ================================== payment content ===================================== */

#container .payment_content{
    margin-bottom: 100px;
}

.payment_btn{
    display: block;
    margin: auto;
    width: 200px;
    height: 80px;
    font-weight: 700;
    font-size: 24px;
    background-color: #3C7166;
    color: white;
}

#paymentOverlay{
    display: none;
    background-color: rgba(0,0,0,.75);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index:20;
}

#paymentOverlay.pop_show{
    display: block;
}

#paymentPopPage{
    background-color: #fff;
    position: absolute;
    width: 500px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -250px;
}

#paymentPopHeader{
    background-color: #713C47;
    height: 75px;
    display: flex;
}

#paymentPopHeader .placeholder{
    width: 3rem;
}

#paymentPopHeader .h1{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: white;
    flex: 2;
    line-height: 75px;
}

#paymentPopHeader button{
    background-color: transparent;
    border: none;
}

#paymentPopContainer{
    width: 500px;
    height: 200px;
}

#paymentPopContainer .card_number_area{
    margin-top: 50px;
    height: 80px;
}

.card_label{
    font-size: 22px;
    display: block;
    width: 100px;
    height: 50px;
    float: left;
    line-height: 55px;
    margin: 0 0 20px 20px;
    font-weight: 500;
}
.card_cvc_area{
    height: 75px;
}

.msg_area{
    height: 25px;
    text-align: center;
}

.verifying_msg{
    color: #c0392b;
    font-weight: 700;
}

.card_digit{
    width: 75px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

#paymentPopFooter{
    height: 75px;
    text-align: center;
}

.submit_btn{
    font-family: AppleSDGothic, sans-serif;
    font-size: 22px;
    color: #fff;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    line-height: 50px;
}


/*구분선*/
.division_line{
    width: 900px;
    margin: 100px auto 100px auto;
    border-bottom: 1px solid #d1d1d1;
}