#wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header{
    position: relative;
    width: 45%;
    height: 100%;
    background-color: #f4fffd;
    float: left;
    text-align: center;
}

#header .logo_box{
    position: absolute;
    width: 245px;
    height: 200px;
    /*background-color: red*/;
    top: 45%;
    right: 0;
}

#header .logo_img{
    height: 100px;
}
#header .logo_title{
    height: 100px;
    font-size: 70px;
}


#content{
    /*background-color: #424242;*/
    float: left;
    width: 300px;
    height: 340px;
    position: relative;
    top: 38%;
    margin-left: 100px;
}

.check_input {
    display: none;
}
.check_input+label {
    background-color: #f3f3f3;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.check_input:checked+label {
    background-color: #3C7166;
    color: white;
}

#loginSelect{
    overflow: hidden;
}

.taker.check_label{
    float: left;
}

.giver.check_label{
    float: right;
}

.login_form p{
    margin-top: 25px;
    font-size: 16px;
}

.login_form input{
    margin-top: 10px;
    width: 290px;
    height: 30px;
}

.logo_title{
    font-weight: 700;

}
body{
    font-family: AppleSDGothic, sans-serif;
    font-weight: 500;
}

.taker_login_submit{
    width: 300px;
    height: 40px;
    margin-top:15px;
    background-color: #0B4D40;
    font-family: AppleSDGothic, sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border: none;
}

.login_footer{
    margin-top: 10px;
    overflow: hidden;
    text-align: right;
}

.login_footer button{
    border:none;
    background-color: #fff;
    font-family: AppleSDGothic, sans-serif;

}

.login_footer button a, .login_footer button a:visited {
    text-decoration: none;
    color: #444444;
}

.find_password{
    border-right: 1px solid #424242;
    float: right;
    height: 15px;

}

.join_box{
    float: right;

}
#content .join_box button a{
    color: #3C7166;
}

.login_form.show{
    display: block;
}

.login_form{
    display: none;
}







