   body,button,a,input,option{
            font-family: 'AppleSDGothic', serif;
        }

    #container{
        position: relative;
        width: 910px;
        height: 1100px;
        background-color: antiquewhite;
        padding-top: 30px;
    }

    /*title*/
    .oi_title{
        width: 850px;
        height: 50px;
        margin: auto;
        line-height: 50px;
        font-size: 30px;
        padding-left: 10px;
        box-sizing: border-box;
        background-color: white;
        color: #424242;
    }

    /*filter*/
    .io_filter_box{
        position: relative;
        margin: 10px auto 0 auto;
        width: 850px;
        background-color: white;
    }
    .io_filter_box h2,.io_goods_box_top div{
        font-size: 22px;
        font-weight: 500;
        color: #424242;
    }

    /*조회기간*/
    .io_filter_term{
        padding: 30px 30px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        /*background-color: aquamarine;*/
    }
    .io_term_list{
        display: flex;
    }
    .io_term_list input{
        display: none;
    }
    .io_term_list input:checked+label{
        color: #fff;
        border: 1px solid #424242;
        background-color: #3C7166;
    }
    .io_term_list label{
        border: 1px solid #8c8c8c;
        text-align: center;
        height: 25px;
        line-height: 25px;
        padding: 0 8px;
        border-radius: 5px;
        cursor: pointer;
        color: #8c8c8c;
        font-weight: 700;
    }
    .io_term_list label:hover{
        color: #424242;
        border: 1px solid black;
    }
    /*상세조건*/
    .id_filter_condition{
        padding: 30px 30px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        /*background-color: aquamarine;*/
    }
    .id_filter_condition select{
        width: 250px;
        text-align: center;
        margin-left: 80px;
        color: #424242;
    }
    .id_filter_condition button{
        margin-left: 82px;
        width: 150px;
        height: 24px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color:  #3C7166;
        color: white;
        border-radius: 2px;
    }
    .id_filter_condition button:hover{
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    /*io_goods_box*/
    .io_goods_box{
        width: 850px;
        margin: 10px auto 0 auto;
        background-color: white;
        color: #424242;
    }
    .io_goods_box_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px;
        box-sizing: border-box;
        border-bottom: 1px solid #8c8c8c;
    }
    .io_goods_box_top button{
        width: 100px;
        height: 30px;
        background-color: white;
        border: 1px solid #8c8c8c;
        color: #8c8c8c;
        border-radius: 2px;
        outline: none;
        cursor: pointer;
    }
    .io_goods_box_top button:hover{
        color: #424242;
        border: 1px solid #424242;
    }

    .content_goods_list_box{
        width: 850px;
        min-height: 600px;
        /*background-color: #3C7166;*/
    }
    /*테이블을 감싸고 있는 div*/
    .content_goods_list_box div{
        width: 800px;
        min-height: 400px;
        background-color: white;
        overflow-x: scroll;
        overflow-y: hidden;
        margin: 30px auto 0 auto;
    }
   .goods_table{max-height: 537px;}
   .goods_table th{
       background-color: #3C7166;
       min-width: 200px;
       height: 50px;
       line-height: 50px;
       /*border: 1px solid black;*/
       font-weight: 900;
       font-size: 20px;
   }
   .goods_table td{
       text-align: center;
       padding: 20px 10px;
       border-right: 1px solid #F5F5F5;
       vertical-align: middle;
   }
   .goods_table input[type="checkbox"]{
       width: 15px;
       height: 15px;
   }
   .goods_table th:nth-child(1){
       min-width: 50px;
   }
   .goods_table th:nth-child(3){
        min-width: 143px;
    }
   .goods_table td:nth-child(9){
        border-right: none;
    }

        /*배송 요청 메세지 3줄이상 숨기기*/
        .goods_table td:nth-child(7) p{
            display: inline-block;
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;

            /* 여러 줄 자르기 추가 스타일 */
            white-space: normal;
            line-height: 1.2;
            height: 3.6em;
            text-align: left;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            cursor: pointer;
        }

        /*배송 요청 메세지 Detail 팝업창*/
        #crmDetailPopUp{
            width: 300px;
            height: 300px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -150px;
            margin-top: -150px;
            background-color:  #0B4D40;
            display: none;
            border-radius: 8px;
        }
        #crmDetailPopUp div{
            position: absolute;
            right: 0;
            padding: 10px;
            cursor: pointer;
            border-radius: 8px;
        }
        #crmDetailPopUp p{
            position: absolute;
            width: 250px;
            height: 250px;
            top: 50%;
            left: 50%;
            margin-top: -125px;
            margin-left: -125px;
            padding-top: 10px;
            line-height: 130%;
        }