@charset "UTF-8";
.search_result_content{
    position: relative;
    margin: auto;
    width:1100px;
    min-height: 600px;
}
strong{
    font-weight: 800;
}
.search_result_list_header{
    position: relative;
}
.search_result_list_title{
    font-size: 30px;
}
.select_category{
    margin-left: 20px;
    color:#303030;
    font-size:25px;
    text-align: center;
    outline: none;
    border:none;
}

.search_filter_location_btn{
    font-size: 25px;
    color:#303030;
    border:none;
    background-color: #ffffff;
    cursor:pointer;
    outline: none;
    margin-right: 30px;
}
.category_filter{
    color:#303030;
    font-size:25px;
    text-align: center;
    border:none;
    outline:none;
}
.search_filter_box{
    text-align:right;
}
.search_result_box{
    width:1100px;
    min-height: 600px;
    margin: 30px auto;
}
.search_result_detail_link{
    text-decoration: none;
}
.slide_list img{
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
}
.subscription_item_info{
    position: relative;
    width:300px;
}
/*구독 서비스 회사명 */
.subscription_item_company{
    font-size: 20px;
    font-weight: 900;
    display: inline-block;
    color: #3c7166;
}
/*구독 서비스 라벨 */
.subscription_item_label{
    background-color: #cc5750;
    color:#f4fffd;
    width:50px;
    height:26px;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    position:absolute;
    top:-5px;
    right:0;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;

}
/*구독 서비스 상품명 */
.subscription_item_name{
    font-size: 16px;
    margin-top: 15px;
    color: #424242;
}
/*구독 서비스 가격 */
.subscription_item_price{
    color: #999A9C;
    font-size: 22px;
    margin-top: 15px;
    font-weight: 700;
    display: inline-block;
}
.subscription_item_price_and_rate_box{
    position: relative;
}
/*평점표시 css start*/
.subscription_item_rate{
    display: inline-block;
    right:0;
    bottom:0;
    position: absolute;
}
.box{
    background-image: url("img/ico_newsview_200522.png");
    height:16px;
}
.grade_star {
    width:88px;
    background-position: 0 -300px;

}
.inner_star {
    width:0px;
    background-position: 0 -320px;
}
/*평점표시 css end*/
