#container{
    width: 1100px;
    height: auto;
    margin: 0 auto;
    font-family: AppleSDGothic, sans-serif;
    position: relative;
}
#signUpReadyTitleContent{
    width: 1100px;
    height: 200px;
    position: relative;
}
#signUpReadyTitleContent>img{
    position: absolute;
    top: 50px;
    left: 310px;
}
#signUpReadyTitleContent>span{
    position: absolute;
    top: 100px;
    left: 550px;
    font-size: 45px;
}
#singUpReadyContent{
    width: 1100px;
    height: 500px;
    position: relative;
}
.head_sentence{
    position: absolute;
    top: 10px;
    left: 320px;
    font-size: 25px;
}
.giver_prepare_list_box{
    position: absolute;
    top: 60px;
    left: 360px;
    font-size: 20px;
}
.giver_prepare_list{
    list-style: initial;
}
#singUpReadyContent>a{
    position: absolute;
    top: 190px;
    left: 490px;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 22px;
    color: white;
    background-color: #0B4D40;
    text-align: center;
    line-height: 50px;
    letter-spacing: 10px;
    border-radius: 5px;
}
