@font-face {
    font-family: 'AppleSDGothic';
    font-style: normal;
    font-weight: 100;
    src: local('AppleSDGothicNeoL'), local('AppleSDGothicNeoL'),
    url(../webfonts/AppleSDGothicNeoL.woff) format('woff')
}

@font-face {
    font-family: 'AppleSDGothic';
    font-style: normal;
    font-weight: 300;
    src: local('AppleSDGothicNeoM'), local('AppleSDGothicNeoM'),
    url(../webfonts/AppleSDGothicNeoM.woff) format('woff')
}


@font-face {
    font-family: 'AppleSDGothic';
    font-style: normal;
    font-weight: 500;
    src: local('AppleSDGothicNeoB'), local('AppleSDGothicNeoB'),
    url(../webfonts/AppleSDGothicNeoB.woff) format('woff')
}

@font-face {
    font-family: 'AppleSDGothic';
    font-style: normal;
    font-weight: 700;
    src: local('AppleSDGothicNeoEB'), local('AppleSDGothicNeoEB'),
    url(../webfonts/AppleSDGothicNeoEB.woff) format('woff')
}


@font-face {
    font-family: 'AppleSDGothic';
    font-style: normal;
    font-weight: 900;
    src: local('AppleSDGothicNeoH'), local('AppleSDGothicNeoH'),
    url(../webfonts/AppleSDGothicNeoH.woff) format('woff')
}